<h1>Nuovo Intervento</h1>
<br>




<%= render 'form' %>


<%= debug(params) %>




<hr>

<%#= link_to 'Indietro', clienti_index_path %>
<%= link_to 'Indietro', clienti_path(:id => @clienti ) %>

