<div class="row">
	<div class="col s12 center-align">
		<h3>Nuovo Intervento</h3>
	</div>
</div>
<div class="divider"></div>




<%= render'gestione_errori' %>




<%= render 'form' %>





<div class="divider"></div>



<%= debug(params) %>