<footer class="page-footer blue-grey darken-2">
  <div class="footer-copyright">
    <div class="container">
    	<div class="row">
    		<div class="col s4">
    			© 2015 Francesco Bucci
    		</div>
    		<div class="col s4">
    			Social
    		</div>
    		<div class="col s4">
    			<%= link_to "Elenco Clienti", clienti_index_path, class: "grey-text text-lighten-4 right" %>
    		</div>
    	</div>
    © 2015 Francesco Bucci
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>